
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 2537px;
	left: 0px;
	top: 77px;
	fill: rgba(248,248,248,1);
}
#photo_2020-07-06_18-18-47 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 160px;
	height: 160px;
	left: 228px;
	top: 345px;
	overflow: visible;
}
#photo_2020-07-06_18-16-22 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 157px;
	height: 157px;
	left: 34px;
	top: 345px;
	overflow: visible;
}
#photo_2020-07-06_17-59-28 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 160px;
	height: 160px;
	left: 423px;
	top: 345px;
	overflow: visible;
}
#photo_2020-07-06_17-59-39 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 160px;
	height: 160px;
	left: 617px;
	top: 344px;
	overflow: visible;
}
#photo_2020-07-06_18-24-35 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 160px;
	height: 160px;
	left: 812px;
	top: 345px;
	overflow: visible;
}
#Categories {
	left: 466px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(8,8,11,1);
}
#Line_23 {
	opacity: 0.35;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 406.838px;
	height: 1px;
	left: 562.944px;
	top: 315.606px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_24 {
	opacity: 0.35;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 406.837px;
	height: 1px;
	left: 34.269px;
	top: 315.606px;
	transform: matrix(1,0,0,1,0,0);
}

.Rectangle_106 {
	filter: drop-shadow(1px 3px 16px rgba(33, 4, 64, 0.102));
	position: absolute;
	overflow: visible;
	width: 984px;
	height: 229px;
	left: 36px;
	top: 107px;
	fill: rgba(149,253,184,1);
}

.Rectangle_107 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 181px;
	left: 36px;
	top: 107px;
	fill: rgba(190,139,249,1);
}
#Make_your_creativity {
	left: 146px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 438px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 49px;
	color: rgba(255,255,255,1);
}
#into_money {
	left: 586px;
	top: 197px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 47px;
	color: rgba(255,255,255,1);
}
#photo_2020-07-06_17-59-28_t {
	opacity: 0.69;
	fill: rgba(0,0,0,1);
}
.photo_2020-07-06_17-59-28_t {
	filter: drop-shadow(1px -3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 76px;
	left: 423px;
	top: 474px;
}
#Bakes {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 477px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(252,252,253,1);
}

#photo_2020-07-06_17-59-28_u {
	opacity: 0.69;
	fill: rgba(0,0,0,1);
}
.photo_2020-07-06_17-59-28_u {
	filter: drop-shadow(1px -3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 76px;
	left: 228px;
	top: 474px;
}

#Arts {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 290px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(252,252,253,1);
}
#photo_2020-07-06_17-59-28_v {
	opacity: 0.69;
	fill: rgba(0,0,0,1);
}
.photo_2020-07-06_17-59-28_v {
	filter: drop-shadow(1px -3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 76px;
	left: 34px;
	top: 474px;
}

#Crafts {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 88px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(252,252,253,1);
}
#photo_2020-07-06_17-59-28_z {
	opacity: 0.69;
	fill: rgba(0,0,0,1);
}
.photo_2020-07-06_17-59-28_z {
	filter: drop-shadow(1px -3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 76px;
	left: 617px;
	top: 474px;
}

#Food {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 676px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(252,252,253,1);
}
#photo_2020-07-06_17-59-28_ {
	opacity: 0.69;
	fill: rgba(0,0,0,1);
}
.photo_2020-07-06_17-59-28_ {
	filter: drop-shadow(1px -3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 76px;
	left: 812px;
	top: 474px;
}
#Others {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 863px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(252,252,253,1);
}
#Rectangle_109 {
	fill: rgba(223,220,226,1);
}
.Rectangle_109 {
	filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 347px;
	height: 306px;
	left: 1033px;
	top: 107px;
}
#Location {
	left: 1133px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(23,17,81,1);
}
#Rectangle_111 {
	fill: rgba(252,252,253,1);
}
.Rectangle_111 {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 37px;
	left: 1061px;
	top: 218px;
}
#Calicut_Kerala {
	opacity: 0.5;
	left: 1107px;
	top: 225px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(23,17,81,1);
}
#Rectangle_112 {
	fill: rgba(23,17,81,1);
}
.Rectangle_112 {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 40px;
	left: 1061px;
	top: 288px;
}
#Use_current_location {
	left: 1113px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(252,252,253,1);
}
#Rectangle_110 {
	fill: rgba(106,157,239,1);
}
.Rectangle_110 {
	filter: drop-shadow(0px 3px 16px rgba(33, 4, 64, 0.102));
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 104px;
	left: 1033px;
	top: 395px;
}
#Icon_material-expand-more {
	fill: rgba(23,17,81,1);
}
.Icon_material-expand-more {
	overflow: visible;
	position: absolute;
	width: 10.186px;
	height: 6.29px;
	left: 1278.151px;
	top: 233.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_25 {
	opacity: 0.35;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 298.537px;
	height: 1px;
	left: 1033.194px;
	top: 381.156px;
	transform: matrix(1,0,0,1,0,0);
}
#Seller_mode {
	left: 1108px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(252,252,252,1);
}
#Icon_material-arrow_back {
	fill: rgba(252,252,252,1);
}
.Icon_material-arrow_back {
	overflow: visible;
	position: absolute;
	width: 17.1px;
	height: 17.1px;
	left: 1245.946px;
	top: 414.288px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_113 {
	opacity: 0.2;
	fill: rgba(58,134,255,1);
}
.Rectangle_113 {
	filter: drop-shadow(0px 3px 16px rgba(33, 4, 64, 0.102));
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 83px;
	left: 1033px;
	top: 466px;
}
#Ask_me_your_doubt {
	left: 1111px;
	top: 475px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(58,134,255,1);
}
#Recommended_for_you {
	left: 34px;
	top: 529px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(8,8,11,1);
}
#Icon_material-my-location {
	fill: rgba(252,252,253,1);
}
.Icon_material-my-location {
	overflow: visible;
	position: absolute;
	width: 14.25px;
	height: 14.25px;
	left: 1074.163px;
	top: 301.356px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-location-on {
	fill: rgba(23,17,81,1);
}
.Icon_material-location-on {
	overflow: visible;
	position: absolute;
	width: 10.908px;
	height: 15.582px;
	left: 1075.802px;
	top: 228.724px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_120 {
	fill: rgba(255,255,255,1);
}
.Rectangle_120 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 36px;
	top: 582px;
}
#Rectangle_124 {
	fill: rgba(255,255,255,1);
}
.Rectangle_124 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 36px;
	top: 973px;
}
#Rectangle_128 {
	fill: rgba(255,255,255,1);
}
.Rectangle_128 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 36px;
	top: 1364px;
}
#Rectangle_132 {
	fill: rgba(255,255,255,1);
}
.Rectangle_132 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 36px;
	top: 1755px;
}
#Rectangle_136 {
	fill: rgba(255,255,255,1);
}
.Rectangle_136 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 36px;
	top: 2146px;
}
#Rectangle_122 {
	fill: rgba(255,255,255,1);
}
.Rectangle_122 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 728px;
	top: 582px;
}
#Rectangle_125 {
	fill: rgba(255,255,255,1);
}
.Rectangle_125 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 728px;
	top: 973px;
}
#Rectangle_129 {
	fill: rgba(255,255,255,1);
}
.Rectangle_129 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 728px;
	top: 1364px;
}
#Rectangle_133 {
	fill: rgba(255,255,255,1);
}
.Rectangle_133 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 728px;
	top: 1755px;
}
#Rectangle_137 {
	fill: rgba(255,255,255,1);
}
.Rectangle_137 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 728px;
	top: 2146px;
}
#Rectangle_121 {
	fill: rgba(255,255,255,1);
}
.Rectangle_121 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 382px;
	top: 582px;
}
#Rectangle_126 {
	fill: rgba(255,255,255,1);
}
.Rectangle_126 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 382px;
	top: 973px;
}
#Rectangle_130 {
	fill: rgba(255,255,255,1);
}
.Rectangle_130 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 382px;
	top: 1364px;
}
#Rectangle_134 {
	fill: rgba(255,255,255,1);
}
.Rectangle_134 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 382px;
	top: 1755px;
}
#Rectangle_138 {
	fill: rgba(255,255,255,1);
}
.Rectangle_138 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 382px;
	top: 2146px;
}
#Rectangle_123 {
	fill: rgba(255,255,255,1);
}
.Rectangle_123 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 1074px;
	top: 582px;
}
#Rectangle_127 {
	fill: rgba(255,255,255,1);
}
.Rectangle_127 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 1074px;
	top: 973px;
}
#Rectangle_131 {
	fill: rgba(255,255,255,1);
}
.Rectangle_131 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 1074px;
	top: 1364px;
}
#Rectangle_135 {
	fill: rgba(255,255,255,1);
}
.Rectangle_135 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 1074px;
	top: 1755px;
}
#Rectangle_139 {
	fill: rgba(255,255,255,1);
}
.Rectangle_139 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 346px;
	left: 1074px;
	top: 2146px;
}

#photo_2020-07-06_23-25-11 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 46px;
	top: 592px;
	overflow: visible;
}
#photo_2020-07-06_17-59-28_b {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 46px;
	top: 983px;
	overflow: visible;
}
#photo_2020-07-06_23-25-46 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 46px;
	top: 1374px;
	overflow: visible;
}
#photo_2020-07-06_23-25-36 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 46px;
	top: 1765px;
	overflow: visible;
}
#photo_2020-07-06_18-51-26 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 46px;
	top: 2156px;
	overflow: visible;
}
#photo_2020-07-06_18-51-26_b {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 738px;
	top: 592px;
	overflow: visible;
}
#photo_2020-07-06_18-24-35_b {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 738px;
	top: 983px;
	overflow: visible;
}
#photo_2020-07-06_18-18-47_ca {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 738px;
	top: 1374px;
	overflow: visible;
}
#photo_2020-07-06_23-25-59 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 738px;
	top: 1765px;
	overflow: visible;
}
#photo_2020-07-06_23-25-11_cc {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 738px;
	top: 2156px;
	overflow: visible;
}
#photo_2020-07-06_18-51-39 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 392px;
	top: 592px;
	overflow: visible;
}
#photo_2020-07-06_18-16-22_ce {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 392px;
	top: 983px;
	overflow: visible;
}
#photo_2020-07-06_23-26-12 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 392px;
	top: 1374px;
	overflow: visible;
}
#photo_2020-07-06_18-18-47_cg {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 392px;
	top: 1765px;
	overflow: visible;
}
#photo_2020-07-06_18-51-39_ch {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 392px;
	top: 2156px;
	overflow: visible;
}
#photo_2020-07-06_18-16-17 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 1084px;
	top: 592px;
	overflow: visible;
}
#photo_2020-07-06_18-12-54 {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 1084px;
	top: 983px;
	overflow: visible;
}
#photo_2020-07-06_23-25-36_ck {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 1084px;
	top: 1374px;
	overflow: visible;
}
#photo_2020-07-06_18-51-26_cl {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 1084px;
	top: 1765px;
	overflow: visible;
}
#photo_2020-07-06_23-26-12_cm {
	filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.102));
	position: absolute;
	width: 236px;
	height: 238px;
	left: 1084px;
	top: 2156px;
	overflow: visible;
}
#Calicut_Kerala_cn {
	left: 47.097px;
	top: 855.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_co {
	left: 47.097px;
	top: 1246.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cp {
	left: 47.097px;
	top: 1637.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cq {
	left: 47.097px;
	top: 2028.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cr {
	left: 47.097px;
	top: 2419.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cs {
	left: 739.097px;
	top: 855.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_ct {
	left: 739.097px;
	top: 1246.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cu {
	left: 739.097px;
	top: 1637.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cv {
	left: 739.097px;
	top: 2028.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cw {
	left: 739.097px;
	top: 2419.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cx {
	left: 393.097px;
	top: 855.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cy {
	left: 393.097px;
	top: 1246.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_cz {
	left: 393.097px;
	top: 1637.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_c {
	left: 393.097px;
	top: 2028.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_da {
	left: 393.097px;
	top: 2419.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_db {
	left: 1085.097px;
	top: 855.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_dc {
	left: 1085.097px;
	top: 1246.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_dd {
	left: 1085.097px;
	top: 1637.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_de {
	left: 1085.097px;
	top: 2028.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Calicut_Kerala_df {
	left: 1085.097px;
	top: 2419.852px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(140,140,140,1);
}
#Dress {
	left: 47.002px;
	top: 838.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_c {
	left: 47.002px;
	top: 1229.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_da {
	left: 47.002px;
	top: 1620.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_db {
	left: 47.002px;
	top: 2011.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dc {
	left: 47.002px;
	top: 2402.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dd {
	left: 739.002px;
	top: 838.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_de {
	left: 739.002px;
	top: 1229.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_df {
	left: 739.002px;
	top: 1620.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dg {
	left: 739.002px;
	top: 2011.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dh {
	left: 739.002px;
	top: 2402.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_di {
	left: 393.002px;
	top: 838.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dj {
	left: 393.002px;
	top: 1229.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dk {
	left: 393.002px;
	top: 1620.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dl {
	left: 393.002px;
	top: 2011.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dm {
	left: 393.002px;
	top: 2402.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dn {
	left: 1085.002px;
	top: 838.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_do {
	left: 1085.002px;
	top: 1229.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dp {
	left: 1085.002px;
	top: 1620.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dq {
	left: 1085.002px;
	top: 2011.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#Dress_dr {
	left: 1085.002px;
	top: 2402.587px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(26,26,26,1);
}
#_ {
	left: 228.687px;
	top: 845.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749 {
	left: 243.473px;
	top: 833.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__dt {
	left: 228.687px;
	top: 1236.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_du {
	left: 243.473px;
	top: 1224.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__dv {
	left: 228.687px;
	top: 1627.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_dw {
	left: 243.473px;
	top: 1615.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__dx {
	left: 228.687px;
	top: 2018.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_dy {
	left: 243.473px;
	top: 2006.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__dz {
	left: 228.687px;
	top: 2409.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_d {
	left: 243.473px;
	top: 2397.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__d {
	left: 920.687px;
	top: 845.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ea {
	left: 935.473px;
	top: 833.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ea {
	left: 920.687px;
	top: 1236.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eb {
	left: 935.473px;
	top: 1224.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__eb {
	left: 920.687px;
	top: 1627.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ec {
	left: 935.473px;
	top: 1615.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ec {
	left: 920.687px;
	top: 2018.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ed {
	left: 935.473px;
	top: 2006.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ed {
	left: 920.687px;
	top: 2409.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ee {
	left: 935.473px;
	top: 2397.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ee {
	left: 574.687px;
	top: 845.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ef {
	left: 589.473px;
	top: 833.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ef {
	left: 574.687px;
	top: 1236.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eg {
	left: 589.473px;
	top: 1224.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__eg {
	left: 574.687px;
	top: 1627.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eh {
	left: 589.473px;
	top: 1615.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__eh {
	left: 574.687px;
	top: 2018.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ei {
	left: 589.473px;
	top: 2006.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ej {
	left: 574.687px;
	top: 2409.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_ek {
	left: 589.473px;
	top: 2397.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__el {
	left: 1266.687px;
	top: 845.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_em {
	left: 1281.473px;
	top: 833.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__en {
	left: 1266.687px;
	top: 1236.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eo {
	left: 1281.473px;
	top: 1224.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__ep {
	left: 1266.687px;
	top: 1627.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eq {
	left: 1281.473px;
	top: 1615.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__er {
	left: 1266.687px;
	top: 2018.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_es {
	left: 1281.473px;
	top: 2006.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#__et {
	left: 1266.687px;
	top: 2409.788px;
	position: absolute;
	overflow: visible;
	width: 10px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(26,26,26,1);
}
#ID749_eu {
	left: 1281.473px;
	top: 2397.917px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy ☞;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(255,186,0,1);
}
#Icon_material-expand-more {
	fill: rgba(23,17,81,1);
}
.Icon_material-expand-more {
	overflow: visible;
	position: absolute;
	width: 10.186px;
	height: 6.29px;
	left: 1278.151px;
	top: 233.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-arrow_back {
	fill: rgba(252,252,252,1);
}
.Icon_material-arrow_back {
	overflow: visible;
	position: absolute;
	width: 17.1px;
	height: 17.1px;
	left: 1245.946px;
	top: 414.288px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-my-location {
	fill: rgba(252,252,253,1);
}
.Icon_material-my-location {
	overflow: visible;
	position: absolute;
	width: 14.25px;
	height: 14.25px;
	left: 1074.163px;
	top: 301.356px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-location-on {
	fill: rgba(23,17,81,1);
}
.Icon_material-location-on {
	overflow: visible;
	position: absolute;
	width: 10.908px;
	height: 15.582px;
	left: 1075.802px;
	top: 228.724px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 47.827px;
	top: 877.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_ew {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_ew {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 47.827px;
	top: 1268.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_ex {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_ex {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 47.827px;
	top: 1659.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_ey {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_ey {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 47.827px;
	top: 2050.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_ez {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_ez {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 47.827px;
	top: 2441.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_e {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_e {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 739.827px;
	top: 877.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fa {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fa {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 739.827px;
	top: 1268.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fb {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fb {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 739.827px;
	top: 1659.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fc {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fc {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 739.827px;
	top: 2050.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fd {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fd {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 739.827px;
	top: 2441.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fe {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fe {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 393.827px;
	top: 877.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_ff {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_ff {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 393.827px;
	top: 1268.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fg {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fg {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 393.827px;
	top: 1659.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fh {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fh {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 393.827px;
	top: 2050.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fi {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fi {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 393.827px;
	top: 2441.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fj {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fj {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 1085.827px;
	top: 877.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fk {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fk {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 1085.827px;
	top: 1268.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fl {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fl {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 1085.827px;
	top: 1659.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fm {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fm {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 1085.827px;
	top: 2050.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-heart-empty_fn {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-heart-empty_fn {
	overflow: visible;
	position: absolute;
	width: 20.709px;
	height: 19.116px;
	left: 1085.827px;
	top: 2441.729px;
	transform: matrix(1,0,0,1,0,0);
}

.bg-modal{
	width:100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0em;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	position: fixed;
}

.modal-content{
	width: 400px;
	height: 500px;
	background-color: rgba(140,140,140,1);
	border-radius: 4px;
	text-align: center;
	padding: 32px;
	padding-top: 42px;

}


#close{

	position: absolute;
    top: 26px;
	color: #ffffff;
	right: 438px;
	float: right;
	font-size: 57px;
	transform: rotate(45deg);
	cursor: pointer;
    font-family: auto;

}


.form{
	width:100%;
	position: relative;
	height: 50px;
    overflow: hidden;
    display: inline-block;
    

	
}


.form input{
	width:100%;
	height: 100%;
	color: rgba(0, 0, 0, 0.7);
	padding-top: 20px;
	border: none;
	outline: none;

}

.form label{
	position: absolute;
	bottom:-1px;
	left:0%;
	width:58%;
	height:100%;
	pointer-events: none;
	border-bottom: 1px solid #ccc;

	
}

.vr{
    display: inline;
   
}

.form label::after{
	content: "";
	position: absolute;
	left:0px;
	bottom: -1px;
	height: 100%;
	width:100%;
	border-bottom: 3px solid #5fa8d3;
	transform: translateX(-100%);
	transition: all 0.3s ease;


}

.content-name{
	position: absolute;
	bottom: 14px;
	left:2px;
	transition: transform 0.5s ease;
	color: rgba(112,112,112,1);
}

.form input:focus + .label-name .content-name,
.form input :valid + .label-name .content-name{
transform: translateY(-150%);
font-size: 14px;
color:grey;

}

.form input:focus + .label-name::after,
  .form input:valid + .label-name::after{
	transform: translateX(100%);
}

.password{
	margin-top: 20px;
}

h2{
	text-align: left;
    cursor: not-allowed;
    margin-top: 15px;
    margin-bottom: 0px;
}

.btn{
	width: 331px;
	height: 38px;
	background-color: rgba(23,17,81,1);
	color: rgba(248,248,248,1);
	margin-top: 15px;
	border: none;
	
}



p{
	font-weight: bold;
    padding-top: 8px;
    display: inline;
}



.crt{
	font-weight: lighter;
	font-size: 13px;
	color: steelblue;
cursor: pointer;
	margin-top: 23px;
	
}

a:link {
	text-decoration: none ;
  }

  .row{
      max-height: 120px;
      display: flex;
      margin-top: 44px;

  }

  .row .vr{
      min-width: 2px;
      height: 20px;
      line-height: 20px;

  }

  .plc{
    margin-top: 132px;
    font-size: 10px;
    text-align: left;
    
}

 .alr{
    margin-top: 34px;
 }